
.tab {
    display: flex;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;   
}

.tab_icon_left {
    position: absolute;
    left: 0;
    margin: 0 3rem;
}

.tab_icon_right {
    position: absolute;
    right: 0;
    margin: 0 3rem;
}

.tab_title {
   font-weight: 700; 
   font-size: 4em;
   color: #2c426b; 
   margin: 2rem 0;
}

.tab button {
    flex-grow: 1;
    background-color: inherit;
    color: #202741;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 4px solid #ffffff;
    width: 100%;

}

.tab button:hover {
    background-color: #ddd;
}
    
.tab button.active {
    color: #82a515;
    border-bottom-color: #82a515;
}
    
.tabcontent {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
  

.tab_container {
    color: #32486f;
    font-weight: 100;
    margin: 2rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tab_campaign{
    margin: 0 1rem;
}


.titlebar {
    background: #ececec;
}

.title_tabs {
    flex-grow: 1;
    padding: 1.5rem 1rem;
    width: 100%;
    color: #202741;
    background: #ececec;
    font-weight: 500;
}
  

.row_container {
    display: flex;
    align-items: center;
}

.center-img-action {
    margin: auto 0;
}

.tab_column {
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
}

.row_img_tab {
    max-width: 3rem;
}

.row_img_tab_action {
    width: 15%;
    margin: 0.5rem 0;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

  .table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  .table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table tr:nth-child(even){background-color: #f2f2f2;}
  
  .table tr:hover {background-color: red;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }
  


  @media screen and (max-width: 991px) {
    /* start of large tablet styles */
    .row_img_tab {
        width: 3rem;
    }

    .center-img-action {
        margin: 0 auto;
    }
    
    .img-responsive-price {
        min-width: 2.5rem;
    }

    .img-responsive {
      min-width: 2rem;
    }

    .tab_title {
        font-size: 2em;
        text-align: center;
    }

    .tab_campaign {
        margin: 1rem 0;
        max-width: 5rem;
    }
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
    .row_img_tab {
        width: 3rem;
    }

    .row_img_tab_wrapper {
        padding: 0 0 0 2rem;
    }

    .row_img_tab_wrapper {
        padding: 0 0 0 2rem;
    }

    .center-img-action {
        margin: 0 auto;
    }
    
    .img-responsive-price {
        min-width: 2.5rem;
    }

    .img-responsive {
      min-width: 2rem;
    }

    .tab_title {
        font-size: 2em;
        text-align: center;
    }

    .tab_campaign {
        margin: 1rem 0;
        max-width: 5rem;
    }
}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    /* It's possible to hide the image if the screen becomes too small */
    .row_img_tab {
        width: 3rem;
    }

    .row_img_tab_wrapper {
        padding: 0 0 0 2rem;
    }

    .center-img-action {
        margin: 0 auto;
    }
    
    .img-responsive-price {
        min-width: 2.5rem;
    }

    .img-responsive {
      min-width: 2rem;
    }

    .tab_title {
        font-size: 2em;
        text-align: center;
    }

    .tab_campaign {
        margin: 1rem 0;
        max-width: 5rem;
    }
}


