html {
  font-size: 62.5%;
  height: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  outline-width: thin;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

body {
  height: 100%;
  background-color: $white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $s-size;
}

.is-active {
  color: red;
  font-weight: bold;
}

.cursor {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #20222b;
  color: white;
  padding: 2rem;
}

.flex {
  display: flex !important;
}

.flex_grow {
  flex-grow: 1 !important;
}

@media screen and (max-width: 2560px) {
  footer {
    bottom: 0;
  }
}

@media screen and (max-width: 1460px) {
  footer {
    bottom: 0;
  }
}

@media screen and (max-width: 1366px) {
  footer {
    bottom: 0;
  }
}


@media screen and (max-width: 1200px) {
  footer {
    bottom: 0;
  }
}

@media screen and (max-width: 1028px) {
  footer {
    bottom: unset;
  }
}

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  footer {
    bottom: unset;
  }
}

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
  footer {
    bottom: unset;
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  /* It's possible to hide the image if the screen becomes too small */
  footer {
    bottom: unset;
  }
}
